HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

/.gitattributes

### Maven wraper
/.mvn/wrapper/maven-wrapper.properties
/mvnw
/mvnw.cmd

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

